{% extends 'base/base.html' %}

{% block 'title' %} About {% endblock %}

{% block 'body' %}

<p>Room for Rent is a Rental Solution Provider.
It is a web portal designed to reshape the conventional pattern of rental solution for room and houses
    all around Nepal. This portal allows people to search and book properties
    from available property list via online presence. The properties are displayed in categorical lists where clients can search
    the property that best suits their budget range as well as location.</p>

{% endblock %}