{% extends 'base/base.html' %}

{% block 'title' %} Contact Us {% endblock %}

{% block 'body' %}

 <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="p-5">
                 <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Contact Us!</h1>
              </div>
              <form class="user" method="post">
                <div class="form-group">
                  <input type="name" name="name" class="form-control form-control-user" id="name" placeholder="Your Name">
                </div>
                {% csrf_token %}
                  <div class="form-group">
                  <input type="email" name="email" class="form-control form-control-user" id="email" placeholder="Your Email">
                </div>
                <div class="form-group">
                  <textarea type="text" name="message" class="form-control form-control-user" id="message" placeholder="Write your message."></textarea>
                </div>
                <button type="submit" class="btn btn-primary">
                  Send Message
                </button>
              </form>
            </div>
          </div>
        </div>
  </div>

{% endblock %}
