{% extends 'base/base.html' %}

{% block 'title' %} Dashboard {% endblock %}

{% block 'body' %}

 <div class="container">
     <div class="row">
        {% include 'component/sidenav.html' %}
        <div class="col-md-9">
            {% include 'component/message.html' %}
            <br>
    {% for r in room %}
    <div class ="row">
            <br>
            {% if r.image %}
             <img src="{{MEDIA_URL}}{{r.image.url}}" style="width:200px;height:200px;">
            {% endif %}

        <div class="col-md-6">
        <h2>{{r.title}}</h2>
            <h5>{{r.category}} | {{r.publish_date}}</h5>
            <br>
            <span>Price: Rs. {{r.price}} /month</span>
            <br/>
            <span>No. of rooms: {{r.no_of_rooms}}</span>
            <br>
            <span>Location: {{r.location}}</span>
            <br>
            <p>Description: {{r.description}}</p>
            <br>
             <a href="{% url 'edit_post' r.id %}" class="btn btn-success">Edit</a>
            <a href="{%url 'delete_post' r.id %}" class="btn btn-danger">Delete</a>

        </div>
    </div>
    <br>
            <hr>
            {% endfor %}
        </div>
        </div>
 </div>


{% endblock %}