{% extends 'base/base.html' %}

{% block 'title' %} Edit Post {% endblock %}

{% block 'body' %}
    <div class="container">
        <div class="row">
        {% include 'component/sidenav.html' %}

        <div class="col-md-9">
            <h3>Create Post</h3>
            <form method="post" enctype="multipart/form-data">
                {{form.as_p}}
                {% csrf_token %}
                <br>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
    </div>

{% endblock %}