{% extends 'base/base.html' %}

{% block 'title' %} Room- {% endblock %}

{% block 'body' %}

<div class="container">
    <hr>
    <div class ="row">
        <div class="col-md-4">
            <br>
            {% if room.image %}
             <img src="{{MEDIA_URL}}{{room.image.url}}" style="width:300px;height:auto;">
            {% endif %}

        </div>
        <div class="col-md-8">
        <h2>{{room.title}}</h2>
            <h5>{{room.category}} | {{room.publish_date}}</h5>
            <br>
            <span>Price: Rs. {{room.price}} /month</span>
            <br/>
            <span>No. of rooms: {{room.no_of_rooms}}</span>
            <br>
            <span>Location: {{room.location}}</span>
            <br>
            <p>Description: {{room.description}}</p>
            <br>
        </div>
    </div>
    <hr>
    <br>
</div>
{% endblock %}